#counselorTile{
	color: $white;
	background-color: #191919;
	overflow: hidden;
	height: 0;
	padding-bottom: 50%;
	@media (min-width: $mobileUp) {
		padding-bottom: 100%;
	}
	strong {
		font: {
			weight: $fontBold;
		}
	}
	.imgHolder {
		text-align: center;
		img {
			padding: 5px;
		}
	}
	.counselorTextbox {
		@media (min-width: $mobileUp) {
			height: 14vw;
		}
	}
	h2{
		@media (max-width: $mobile) {
			position: absolute;
			top: -200px;
			width:100%;
			height: 50px;
			padding-top: 20px;
			background-color: rgba(25,25,25,0.4);
			pointer-events: none;
			font-size: 4vw; 
			line-height: 3.9vw;
		}
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #fff;
		text-align: center;
		@media (min-width: $mobileUp) {
			margin-top: 5px;
			margin-bottom: 0px;
			font-size: 2vw; 
			line-height: 1.9vw;
		}
	}
	p {
		margin-bottom: 0;
	}
	#counselorName {
		color: #00adef;
		margin-top: 5px;
		margin-bottom: 2px;
		font-size: 3.3vw;
		font-weight: bold;
		text-align: center;
		position: relative;
		@media (min-width: $mobileUp) {
			font-size: 1.6vw;
		}
		@media(max-width: 515px){
			display: none; /* hidden at smallest size */
		}
	}
	
	.readMore {
		position: absolute;
		a {
			color: $yellow;
		}
		@media(max-width: 515px){
			bottom: auto;
			top: -600%;
			left: 48%;
		}
		@media(min-width: 516px){
			bottom: -50%;
			right: 0;
			width: auto;
		}
		@media(min-width: $mobileUp){
			bottom: auto;
			right: auto;
			width: 100%;
			text-align: center;
		}
		@media (min-width: $mobileUp) and (max-width: 975px) {
			font-size: 1.1vw;
			line-height: 1.2vw;
			padding-top: 5px;
		}
		@media (min-width: 975px) {
			right: 0;
			width: auto;
			bottom: 0;
			padding-bottom: 0px;
		}
	}
	
	p#location{
		position: absolute;
		@media(max-width: 515px){
			top: -450%;
			width: 100%;
			background-color: rgba(25,25,25,0.4);
			padding-left: 13%;
		}
		@media(min-width: 516px){
			bottom: -45%;
		}
		@media (min-width: $mobileUp) {
			bottom: 0;
		}
	}
}