// FEATURED NEWS STORY

.featureNews {
	background: {
		color: $grey-steel;
	}
	overflow: hidden;
	@media (min-width: $mobileUp) {
		height: 0;
		padding: {
			bottom: 100%;
		}
	}
	h2 {
		color: $white;
		padding: 5px;
		@include serifFontFamily;
		font: {
			size: 6vw;
			style: italic;
		}
		line: {
			height: 6vw;
		}
		text: {
			transform: uppercase;
		}
		@media (min-width: $mobileUp) {
			font: {
				size: 2.8vw;
			}
			line: {
				height: 3vw;
			}
		}
		@media (min-width: $fullPageUp) {
			font: {
				size: 37px;
			}
			line: {
				height: 39px;
			}
		}
	}
	img {
		padding: 5px;
	}
	.imgHolder {
		text: {
			align: center;
		}
	}
}
