/* GENERAL WIDGETS */

.readMore {
	color: $yellow;
	@include sanSerifFontFamily-nonBold;
	font: {
		size: 12px;
		weight: $fontBold;
	}
	@media (min-width: $mobileUp) and (max-width: $fullPage){
		font: {
			size: 0.9vw;
		}
	}
	padding: 10px 5px 5px 0;
	text: {
		align: right;
		transform: uppercase;
	}
	a {
		color: $yellow;
	}
}
.white .readMore, .white .readMore a{
  color:#b06030;
}
