.captionOverlay{
	opacity: 0;
	display: block;
	position: absolute;
	bottom: 0;
	color: $white;
	background: {
		color: $black;
	}
	padding: 15px;
	width: 100%;
}
#shareInstagram {
	display: block;
	position: relative;
	width: 100%;
	&:hover {
		.captionOverlay {
			opacity: 0.7;
		}
	}
}
.instagramImage {
	.mainImg {
		float: left;
		@media (min-width: $mobileUp) and (max-width: $desktop){
			width: 224px;
		}
		@media (min-width: $desktopUp){
			width: 190px;
		} 
	}
}

/* Fix for colorbox caption and close button used on Instagram widget */

/*Overwrite theme.css around line 625*/
#colorbox {
	button {
		padding: 6px 10px;
	}
}
/*Prevent caption and close button overlap*/
#cboxTitle {
	padding: {
		right: 25px;
	}
}