// VARIABLES

//COLORS
$black: #000000;
$burnt-orange: #b06030;
$grey-dark: lighten(adjust_hue(#000000, 0), 10);                    // #1a1a1a - main background color
$grey-medium: lighten(adjust_hue(#000000, 0), 40);                  // #666666
$grey-light: lighten(#000000, 80);                                  // #cccccc
$grey-very-light: lighten(adjust_hue(#000000, 0), 90);              // #e6e6e6
$grey-steel: #3f3c3d;
$orange: #f47920;
$silver: #c0c0c0;
$taylor-blue: #00adef;
$taylor-green: #00954d;
$taylor-drk-grn: #007476; 
$taylor-slate: #7d999b;                                             // slate color
$taylor-purple: #5a3358;
$white: #ffffff;
$yellow: #ffcb05;
//THEME COLORS
$theme-steel-grey: #4b4b5f;
$theme-dark-grey: #23231c;
$theme-light-grey: #ededed;
$theme-near-black: #191001;


// SCREEN SIZES
// Mobile First - 0px? - mobile menu/small tiles start
$mobile: 640px; 				// low break - mobile menu/small tiles end
$mobileUp: $mobile + 1px; 		// high break - tablet menu/medium tiles start
$tablet: 939px; 				// low break - tablet menu ends
$tabletUp: $tablet + 1px; 		// high break - full menu pt1 starts
$desktop: 1024px; 				// low break - full menu pt1/medium tiles end
$desktopUp: $desktop + 1px; 	// high break - full menu pt2/large tiles starts

$overallMaxWidth: 1240px; 		// max-width main/tile space, ignores left/right border space
$fullPage: 1320px; 				// low break - browser width: main/tile space is max-width 
$fullPageUp: $fullPage + 1px;  	// high break - browser width: main/tile space above max-width


//FONT WEIGHTS 
$fontBold: 700;
$fontNormal: 400;


// MIXINS
@mixin sanSerifFontFamily {
    font-family: "Helvetica Bold Oblique", "Helvetica Bold", Helvetica, Arial, sans-serif;
}

@mixin sanSerifFontFamily-Oblique {
    font-family: "Helvetica Oblique", Helvetica, Arial, sans-serif;
}

@mixin sanSerifFontFamily-bold {
    font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
}

@mixin sanSerifFontFamily-nonBold {
    font-family: Helvetica, Arial, sans-serif;
}

@mixin sanSerifFontFamily-Light {
    font-family: "Helvetica Light", Helvetica, Arial, sans-serif;
}

@mixin serifFontFamily {
    font-family: "Times New Roman", Times, serif;
}

@mixin transitionDuration ($x){
	-webkit-transition-duration: $x;
    -moz-transition-duration: $x;
    -ms-transition-duration: $x;
    -o-transition-duration: $x;
    transition-duration: $x;
}

@mixin transitionProperty ($h, $w) {
	-webkit-transition-property: $h, $w;
    -moz-transition-property: $h, $w;
    -ms-transition-property: $h, $w;
    -o-transition-property: $h, $w;
    transition-property: $h, $w;
}

@mixin boxShadow ($a) {
    box-shadow: $a;
    -webkit-box-shadow: $a;
    -moz-box-shadow: $a;
}

@mixin marginPadding($c, $d) {
    margin: $c;
    padding: $d;
}

@mixin borderRadius ($rad) {
    -webkit-border-radius:$rad;
    -mox-border-radius:$rad;
    -o-border-radius:$rad;
    border-radius:$rad;
}
// LIST OF PREFIXES:  -webkit-, -khtml-, -moz-, -ms-, -o-, ''
@mixin css3($list, $property, $value) {
     @each $prefix in $list {
          #{$prefix}#{$property}: $value;
     }
}

// LIST OF PREFIXES:  -webkit-, -khtml-, -moz-, -ms-, -o-, ''
@mixin css3-a($list, $property, $value-a, $value-b) {
     @each $prefix in $list {
          #{$prefix}#{$property}: #{$prefix}#{$value-a}, $value-b;
     }
}



















