/* Widget Shapes */

.twoFourTall {
	@media (min-width: 641px) {
		padding-bottom: 211%;
	}
	@media (min-width: 690px) {
		padding-bottom: 210%;
	}
	@media (min-width: 780px) {
		padding-bottom: 209%;
	}
	@media (min-width: 910px) {
		padding-bottom: 208%;
	}
	@media (min-width: 990px) {
		padding-bottom: 207%;
	}
	@media (min-width: 1120px) {
		padding-bottom: 206%;
	}
	@media (min-width: 1250px) {
		padding-bottom: 205%;
	}
}

.fourTwoWide {
	@media (min-width: 641px) {
		padding-bottom: 47.5%;
	}
	@media (min-width: 720px) {
		padding-bottom: 47.6%;
	}
	@media (min-width: 760px) {
		padding-bottom: 47.7%;
	}
	@media (min-width: 800px) {
		padding-bottom: 47.8%;
	}
	@media (min-width: 840px) {
		padding-bottom: 47.9%;
	}
	@media (min-width: 880px) {
		padding-bottom: 48%;
	}
	@media (min-width: 920px) {
		padding-bottom: 48.1%;
	}
	@media (min-width: 960px) {
		padding-bottom: 48.2%;
	}
	@media (min-width: 1000px) {
		padding-bottom: 48.3%;
	}
	@media (min-width: 1020px) {
		padding-bottom: 48.4%;
	}
	@media (min-width: 1060px) {
		padding-bottom: 48.5%;
	}
	@media (min-width: 1100px) {
		padding-bottom: 48.6%;
	}
	@media (min-width: 1140px) {
		padding-bottom: 48.7%;
	}
	@media (min-width: 1180px) {
		padding-bottom: 48.8%;
	}
}
