/* USER INFO MENU */

.flyout {
	position:fixed;
	z-index:9999;
	right:-300px;
	top:140px;
	background:#cfcfcf;
	padding:20px 16px 20px 18px;
	width:300px;
	font-size:11px;
	border-right:3px solid #cfcfcf;
	font-family:Tahoma, Geneva, sans-serif;
	color:#666666;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-radius:0 0 0 6px;
	line-height:1.6em;
}
.flyout span.trigger {
	display:block;
	position:absolute;
	left:-100px;
	top:0px;
	width:100px;
	height:50px;
	cursor:pointer;
	text-align:center;
	background:url(/home/flyout-SD-2026.png) no-repeat 0 0;
}
.flyout h2{
	color:#ddd;
	text-shadow:0.05em 0.05em 0.1em #0b2e3c;
	font-size:16px;
	font-weight:bold;
	margin:0 0 8px 0;
}
.flyout a {
	display:block;
	text-align:center;
	margin:10px auto;
	background:#00adef;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	padding:5px 10px;
	font-size:16px;
	line-height:18px;
}
.flyout a:hover {
	opacity: 0.5;
}
.flyout p {
	line-height: normal;
}

.flyout table{
	width:100%;
	border-collapse:collapse;
	border:1px solid #555;
	background:#3A3A3A;
	margin-bottom:10px;
}
.flyout table th, .flyout table td{
	padding:5px 5px 5px 10px;
	width:50%;color:#ccc;
	text-align:left;
	background:#3A3A3A;
	border:1px solid #555;
}
.flyout table th{
	font-weight:bold;
}