/* INSTAGRAM */

.captionOverlay{
	opacity: 0;
	display: block;
	position: absolute;
	bottom: 0;
	color: $white;
	background: {
		color: $black;
	}
	padding: 15px;
	width: 100%;
}

.instagramImage {
	.mainImg {
		float: left;
		@media (min-width: $mobileUp) and (max-width: $desktop){
			width: 224px;
		}
		@media (min-width: $desktopUp){
			width: 190px;
		} 
	}
}
/* css piece **/
.innerModalWrapper{
  position:relative;
  height:100%;
  width:100%;
  display:block;
}
.reveal-modal:hover .captionOverlay{
  opacity: 0.7;
}
.reveal-modal .close-reveal-modal{
   right: 0.2875rem;
}
.reveal-modal img{
  width:100%;
}
/* end css piece */

/* Fix for colorbox caption and close button used on Instagram widget */

/*Overwrite theme.css around line 625*/
#colorbox {
	button {
		padding: 6px 10px;
	}
}
/*Prevent caption and close button overlap*/
#cboxTitle {
	padding: {
		right: 25px;
	}
}