/* RECENT NEWS */

.recentNews {
	height: 0;
	padding: {
		bottom: 30%;
	}
	&:hover {
		opacity: 0.2;
	}
	@media (min-width: $mobileUp) {
		height: 0;
		padding: {
			bottom: 100%;
		}
	}
}
.recentNews a {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 5px;
}
.recentNews h2 {
	display: table-cell;
	vertical: {
		align: middle;
	}
	text: {
		transform: uppercase;
	}
	color: $grey-medium;
	margin: 0px;
	padding: 0px;
	@include serifFontFamily;
	font: {
		style: italic;
		size: 5vw;
	}
	line: {
		height: 5vw;
	}
	@media (min-width: $mobileUp) {
		font: {
			size: 1.8vw;
		}
		line: {
			height: 1.9vw;
		}
	}
	@media (min-width: $fullPageUp) {
		font: {
			size: 24px;
		}
		line: {
			height: 25px;
		}
	}
}
