/**** GENERAL ISOTOPE PAGE CHANGES ****/
/*Custom CSS Transitions - mg*/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/** disabling Isotope CSS3 transitions **/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

@media (max-width: 1070px) {
  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin: 0 0 23px 0;
    text-transform: uppercase;
  }

  h2 {
    color: #b06030;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
}
/* CSS Classes from base.css */
.clear {
  clear: both;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

body {
  background: #1a1a1a !important;
}

#main {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  max-width: 1240px !important;
}
#main .row {
  background-color: #1a1a1a;
}

.row {
  max-width: 1240px !important;
  padding: 10px 20px 20px 20px !important;
}

@media (max-width: 640px) {
  .row {
    padding: 10px 0 20px 0 !important;
  }
}
.column, .columns {
  margin: 0 !important;
  padding: 5px !important;
}
@media (max-width: 640px) {
  .column, .columns {
    padding: 3px 5px 3px 5px !important;
  }
}

/*White Class for Testing Template Background Color*/
.white {
  background: white !important;
}
.white .prospectiveStudent {
  background-color: white;
}

#main.white .row {
  background-color: white;
}

header {
  background-color: white;
  background-image: none;
}

/**** HEADER CHANGES ****/
/** General **/
.showTopMenuItem {
  display: none;
}

@media (max-width: 939px) {
  .showTopMenuItem {
    display: inherit;
  }
}
.ALT-2 {
  background: center top repeat-x url("/application/themes/foundation-starter-site/images/template/color-gradient.png");
}

.name a:not(.button):hover {
  /* logo on mobile/tablet/desktop */
  opacity: 1;
}

/* TOP-TOOLBAR */
.top-toolbar {
  background-color: transparent;
  border-bottom: none;
}

/* TOP-TOOLBAR - Row 1 - logo and topGroup */
.top-toolbar .title-area {
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-top: -15px;
}
.top-toolbar .name h1 {
  margin-bottom: 0px !important;
}
.top-toolbar #searchForm > input {
  background: none repeat scroll 0 0 rgba(17, 17, 17, 0.2) !important;
  -webkit-border-radius: 0;
  -mox-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #666666 !important;
  font-size: 11px;
  /* 8pt */
  font-weight: 700;
  height: 2em;
  line-height: 2em;
  margin-right: 0px;
  margin-top: 0px !important;
  text-transform: uppercase;
  top: 0;
}

.medium-fi {
  font-size: 24px;
  position: absolute;
  right: 25px !important;
}

.fi-magnifying-glass.medium-fi {
  color: white;
}

.search {
  font-size: 13px !important;
  line-height: 16px !important;
}

.login a {
  line-height: 20px !important;
  padding: 0 10px !important;
}

.topGroup, .topGroup li, .topGroup a {
  color: #666666 !important;
  font-family: "Helvetica Bold Oblique", "Helvetica Bold", Helvetica, Arial, sans-serif;
  font-size: 11px !important;
  font-weight: 700 !important;
  line-height: 16px !important;
  text-transform: uppercase !important;
}

.topGroup {
  margin-left: 0px !important;
}
.topGroup a {
  padding: 3px 8px !important;
}
.topGroup .darkIcon {
  color: #666666;
}

/* TOP-TOOLBAR - Row 2 - audienceButtons */
#audButtonRow {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
#audButtonRow .audienceButtons, #audButtonRow .audienceButtons li, #audButtonRow .audienceButtons a {
  font-family: "Helvetica Bold Oblique", "Helvetica Bold", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px !important;
  text-transform: uppercase;
}
#audButtonRow .audienceButtons {
  margin-left: 0px !important;
}
#audButtonRow .audienceButtons li {
  border: 1px #00adef solid !important;
}
#audButtonRow .audienceButtons .audText {
  color: #00adef !important;
  padding: 0 15px;
}
#audButtonRow .audienceButtons a {
  color: #666666 !important;
}
#audButtonRow .audienceButtons a.current {
  background-color: #00adef !important;
  color: white !important;
}

/* TOP-NAV - Top-bar - mainNav and admButtons */
/* Desktop */
@media (min-width: 940px) {
  .top-nav, .top-bar {
    height: 35px;
  }

  #main .row {
    padding-top: 0px !important;
  }
}
@media (max-width: 640px) {
  .top-nav {
    background-color: #5a3358 !important;
  }
}
@media (max-width: 939px) {
  .top-nav {
    height: 45px;
  }
}

/* mobile/tablet logo area */
.row.logo-menu {
  padding: 0 10px !important;
}

@media (max-width: 939px) {
  .top-bar .title-area {
    float: initial;
    text-align: center;
  }
  .top-bar .toggle-topbar {
    display: initial;
  }
}
.top-bar .name {
  height: 35px !important;
  margin: auto;
  width: 150px;
}
.top-bar .name h1 a {
  display: initial !important;
  width: initial !important;
}

.name h1 a {
  padding: 0px !important;
}
.name img {
  background-color: #5a3358;
  padding: 5px 20px;
}
@media (max-width: 939px) {
  .name img {
    margin-top: -10px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

@media (min-width: 641px) {
  .top-bar .toggle-topbar.menu-icon a::after {
    -webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
    box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
  }
}
/* mobile/tablet search */
#mainNav #searchForm input {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  line-height: 22px;
  text-transform: uppercase;
}

.admButtons .infoButton {
  background-color: #7d999b !important;
}
.admButtons .visitButton {
  background-color: #007476 !important;
}
.admButtons .applyButton {
  background-color: #f47920 !important;
}

.admButtons, .admButtons li, .admButtons a {
  color: white !important;
  font-family: "Helvetica Bold Oblique", "Helvetica Bold", Helvetica, Arial, sans-serif;
  font-size: 11px !important;
  font-weight: 700 !important;
  line-height: 16px !important;
  text-transform: uppercase !important;
}

.admButtons {
  margin-right: 12px !important;
}
.admButtons li {
  margin-left: 10px;
}

/** END Specfic Rows **/
/** Dropdowns and Main Navigation **/
.top-bar-section {
  width: 100%;
}
.top-bar-section ul {
  margin: 10px 0 0 10px;
}
.top-bar-section ul li a {
  color: #666666;
}
.top-bar-section ul li:hover > a, .top-bar-section ul li:hover > a:hover {
  background: rgba(17, 17, 17, 0.5);
}
.top-bar-section ul.dropdown l1 a, .top-bar-section ul#mainNav ul.dropdown li > a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  text-transform: uppercase;
}
.top-bar-section #mainNav li > a {
  opacity: 1;
}
.top-bar-section > ul > .divider {
  height: 22px;
  margin-bottom: 10px;
  margin-top: -6px;
}
.top-bar-section .dropdown li:hover {
  background-color: rgba(122, 122, 122, 0.9);
}
.top-bar-section ul.dropdown li:hover a, .top-bar-section ul#mainNav ul.dropdown li:hover > a {
  background-color: transparent;
}
.top-bar-section ul#mainNav li > a {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  line-height: 22px;
  text-transform: uppercase;
}
.top-bar-section #mainNav li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
  background-color: transparent;
  background-image: none;
}
.top-bar-section #mainNav li:not(.has-form):hover a:not(.button), .top-bar-section #mainNav li:not(.has-form) a:not(.button):hover {
  background-color: rgba(17, 17, 17, 0.5);
  color: white !important;
}
.top-bar-section .has-dropdown {
  margin-left: -1px;
  margin-top: -6px;
}

.logo-menu .top-bar-section .has-dropdown > a:after {
  border-color: rgba(204, 204, 204, 0.5) transparent transparent transparent !important;
}
@media only screen and (min-width: 940px) {
  .logo-menu .top-bar-section .has-dropdown > a:after {
    margin-top: 0px !important;
    top: 12px !important;
  }
}

.readMore {
  color: #ffcb05;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 5px 5px 0;
  text-align: right;
  text-transform: uppercase;
}
.readMore a {
  color: #ffcb05;
}

.white .readMore, .white .readMore a {
  color: #b06030;
}

/* Banner Overlay mg */
.withBannerOverlay a:hover, .withBannerOverlay a:focus {
  opacity: 1;
}

.bannerOverlay {
  color: white;
  height: 98%;
  padding: 43px 13px 13px 33px;
  position: absolute;
  left: 4px;
  bottom: 5px;
  width: 32%;
  z-index: 8;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' *For Banner Gradient*/
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-8 */
  /* Fallback for web browsers that don't support RGBa  
  background: rgb(0,0,0);
  /* RGBa with 0.7 opacity  
  background: rgba(0,0,0,0.7);
  /* For IE 5.5 - 7 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";*/
}
@media (max-width: 1073px) {
  .bannerOverlay {
    width: 42%;
  }
}
@media (max-width: 924px) {
  .bannerOverlay {
    width: 52%;
  }
}
.bannerOverlay h1 {
  color: white;
  font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
  font-size: 45px;
  line-height: 42px;
  margin-bottom: 0;
  text-transform: none;
}
@media (max-width: 1220px) {
  .bannerOverlay h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 1044px) {
  .bannerOverlay h1 {
    font-size: 29x;
    line-height: 32px;
  }
}
.bannerOverlay h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 67px;
  line-height: 51px;
  margin-top: 0;
  text-transform: none;
}
@media (max-width: 1044px) {
  .bannerOverlay h2 {
    font-size: 53px;
    line-height: 37px;
  }
}
.bannerOverlay ul {
  line-height: 1.2;
  margin: 20px 0;
}
.bannerOverlay ul li {
  background: #e6e6e6;
  height: 20px;
  margin-bottom: 1px;
  padding: 0 10px;
  width: 56%;
}
.bannerOverlay ul li:hover {
  background: #666666;
}
.bannerOverlay p a, .bannerOverlay ul a, .bannerOverlay ul li a {
  color: #666666;
  font-size: 13px;
  font-weight: 700;
}
@media (max-width: 1220px) {
  .bannerOverlay p {
    line-height: 22px;
  }
}
@media (max-width: 1050px) {
  .bannerOverlay p {
    line-height: 18px;
  }
}
@media (max-width: 895px) {
  .bannerOverlay p {
    display: none;
  }
}
@media (max-width: 895px) {
  .bannerOverlay p#departmentSearchHeading {
    display: block;
  }
}
.bannerOverlay ul li:hover a {
  color: #e6e6e6;
}

.bannerMobileOverlay {
  display: none;
}

p#departmentSearchHeading {
  background-color: #00adef;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  margin-bottom: 0;
  padding: 10px;
  width: 56%;
}
@media (max-width: 895px) {
  p {
    display: block;
  }
}

input#interestKeyword {
  background-color: #e6e6e6;
  background-image: none;
  border: none;
  -webkit-border-radius: 0;
  -mox-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #666666;
  font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 30px;
  line-height: 20px;
  width: 56%;
}
input#interestSubmit {
  display: none;
}

#bannerDeptSearch {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  width: 100%;
}

@media (max-width: 850px) {
  .withBannerOverlay {
    position: relative;
    left: auto;
    bottom: auto;
  }

  .banner:hover a, .banner a:hover {
    opacity: 0.3;
  }
  .banner:hover .bannerMobileOverlay {
    background: transparent;
  }

  .bannerMobileOverlay {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' *For Banner Gradient*/
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */
    display: block;
    pointer-events: none;
    position: absolute;
    top: 1%;
    text-align: center;
    width: 100%;
  }
  .bannerMobileOverlay h1 {
    color: white;
    font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
    font-size: 23px;
    line-height: 21px;
    margin-bottom: 0;
    text-transform: none;
  }
  .bannerMobileOverlay h2 {
    color: white;
    font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
    font-size: 33px;
    line-height: 25px;
    margin-bottom: 0;
    text-transform: none;
  }

  .bannerOverlay {
    background: transparent;
    filter: none;
    float: left;
    padding: 0;
    position: relative;
    left: auto;
    bottom: auto;
    width: 100%;
  }
  .bannerOverlay h1, .bannerOverlay h2 {
    display: none;
  }
  .bannerOverlay ul, .bannerOverlay p {
    width: 100%;
  }
  .bannerOverlay ul li {
    background: #e6e6e6;
    float: left;
    height: 40px;
    margin: 5px 7px;
    width: 18%;
  }

  #bannerDeptSearch {
    float: left;
    margin-top: 10px;
    padding-bottom: 0;
  }

  input#interestKeyword, p#departmentSearchHeading {
    width: 100%;
  }
}
@media (max-width: 766px) {
  .bannerOverlay ul li {
    margin: 5px 6px;
  }
}
@media (max-width: 666px) {
  .bannerOverlay ul li {
    margin: 5px;
  }
}
@media (max-width: 589px) {
  .bannerOverlay ul li {
    background: #e6e6e6;
    float: none;
    height: 30px;
    margin: 0 0 1px;
    padding: 5px 10px;
    width: 100%;
  }
}

.overlayText {
  position: absolute;
  top: 40%;
  text-align: center;
  visibility: hidden;
  width: 100%;
}
.overlayText.summary {
  top: 10%;
}
.overlayText h2 {
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.white .overlayText h2 {
  color: #666666;
}

.withOverlayText:hover .overlayText {
  opacity: 1;
  pointer-events: none;
  visibility: visible;
}
.withOverlayText:hover .overlayText a, .withOverlayText:hover .overlayText img {
  opacity: 1;
}
.withOverlayText:hover .overlayText#overlayNoImage {
  padding-right: 10px;
  opacity: 1;
}
.withOverlayText:hover img {
  opacity: 0.3;
}
.withOverlayText:hover #overlayNoImage {
  opacity: 0.2;
}
.withOverlayText:hover #overlayNoImage #textWrapper {
  opacity: 0.1;
}
.withOverlayText a:hover img {
  opacity: 0.3;
}

#textWrapper {
  display: block;
  height: 100%;
  width: 100%;
}

/* Tile Overlay - Instagram */
.overlayText#instagramThumb {
  height: 96%;
  top: 0;
  width: 96%;
}
.overlayText #expandIcon {
  margin-top: 27%;
  pointer-events: auto;
  position: relative;
  opacity: 0.5;
}
.overlayText #expandIcon:hover {
  opacity: 1;
}
.overlayText .socMedIcons .twitterIcon, .overlayText .socMedIcons .facebookIcon {
  pointer-events: auto;
  opacity: 0.5;
}
.overlayText .socMedIcons .twitterIcon:hover, .overlayText .socMedIcons .facebookIcon:hover {
  opacity: 1;
}

/*Mobile Overlay*/
@media (max-width: 939px) {
  .withOverlayText a:hover, .withOverlayText:hover a, .withOverlayText:hover img, .withOverlayText:hover #overlayNoImage, .withOverlayText:hover #overlayNoImage #textWrapper {
    opacity: 0.8;
  }

  .withOverlayText:hover .overlayText, .withOverlayText a:hover .overlayText {
    visibility: hidden;
  }
}
/** END OF CUSTOM OVERLAYS **/
#counselorTile {
  color: white;
  /*@media (max-width: 1102px) {
  	height: 132px;
  }*/
}
#counselorTile strong {
  font-weight: 700;
}
#counselorTile a:hover {
  /* was #FCC707 */
  color: #f47920;
  opacity: 1;
}
#counselorTile p {
  margin-bottom: 0;
}

#geoNotSupported img, #geoError img {
  margin-top: 10px;
}
#geoNotSupported p, #geoError p {
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

#geoNoCounselor {
  margin-top: 10px;
}
#geoNoCounselor #leftSide {
  float: left;
  margin-right: 10px;
}
#geoNoCounselor #rightside {
  margin-top: 30px;
}
#geoNoCounselor #searchLink {
  float: left;
  margin-top: 20px;
}

#counselor {
  margin-top: 10px;
}
@media (max-width: 1102px) {
  #counselor {
    margin-top: 5px;
  }
}
#counselor #leftSide {
  float: left;
  height: 135px;
  margin-right: 10px;
}
@media (max-width: 1102px) {
  #counselor #leftSide {
    width: 30%;
  }
}
@media (max-width: 640px) {
  #counselor #leftSide {
    height: 125px;
    width: 40%;
  }
}
#counselor #rightside {
  float: left;
  height: 135px;
  margin-top: 0;
  position: relative;
  width: 60%;
}
@media (max-width: 1102px) {
  #counselor #rightside {
    margin-top: 0;
  }
}
@media (max-width: 640px) {
  #counselor #rightside {
    height: 125px;
    width: 50%;
  }
}
@media (max-width: 1005px) {
  #counselor #rightside {
    height: 120px;
  }
}
@media (max-width: 940px) {
  #counselor #rightside {
    height: 110px;
  }
}
#counselor #rightside #moreLink {
  position: absolute;
  bottom: 0;
}
@media (max-width: 1102px) {
  #counselor #rightside #moreLink {
    display: none;
  }
}
@media (max-width: 940px) {
  #counselor #rightside #moreLink {
    display: none;
  }
}
#counselor #rightside p#contactInfo {
  margin-top: 10px;
}
#counselor #rightside a #state {
  color: #ffcb05;
}

.featureNews {
  background-color: #3f3c3d;
  overflow: hidden;
}
.featureNews h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: italic;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 3px;
  margin-bottom: 3px;
}
@media (max-width: 1250px) {
  .featureNews h2 {
    font-size: 30px;
    line-height: 28px;
  }
}
@media (max-width: 1190px) {
  .featureNews h2 {
    font-size: 28px;
    line-height: 26px;
  }
}
@media (max-width: 1120px) {
  .featureNews h2 {
    font-size: 26px;
    line-height: 24px;
  }
}
@media (max-width: 1070px) {
  .featureNews h2 {
    font-size: 24px;
    line-height: 22px;
  }
}
@media (max-width: 1024px) {
  .featureNews h2 {
    font-size: 30px;
    line-height: 28px;
  }
}
@media (max-width: 985px) {
  .featureNews h2 {
    font-size: 28px;
    line-height: 26px;
  }
}
@media (max-width: 920px) {
  .featureNews h2 {
    font-size: 26px;
    line-height: 24px;
  }
}
@media (max-width: 865px) {
  .featureNews h2 {
    font-size: 24px;
    line-height: 22px;
  }
}
@media (max-width: 805px) {
  .featureNews h2 {
    font-size: 22px;
    line-height: 20px;
  }
}
@media (max-width: 745px) {
  .featureNews h2 {
    font-size: 20px;
    line-height: 18px;
  }
}
@media (max-width: 680px) {
  .featureNews h2 {
    font-size: 18px;
    line-height: 16px;
  }
}
@media (max-width: 640px) {
  .featureNews h2 {
    font-size: 34px;
    line-height: 32px;
  }
}
@media (max-width: 540px) {
  .featureNews h2 {
    font-size: 30px;
    line-height: 28px;
  }
}
@media (max-width: 475px) {
  .featureNews h2 {
    font-size: 28px;
    line-height: 26px;
  }
}
@media (max-width: 435px) {
  .featureNews h2 {
    font-size: 24px;
    line-height: 22px;
  }
}
@media (max-width: 365px) {
  .featureNews h2 {
    font-size: 20px;
    line-height: 18px;
  }
}
.featureNews img {
  float: left;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .featureNews img {
    padding-right: 4px;
    /* responsive tablet images */
  }
}
.featureNews p {
  margin-bottom: 0px;
}

#twitter-widget-6, #twitter-widget-0 {
  width: 80% !important;
}

img.tweetieBird {
  height: 62px;
  padding-top: 5px;
  position: absolute;
  top: 10px;
  left: 10%;
  width: 54px;
}

.taylorTweet {
  display: block;
  height: 100%;
  min-height: 115px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 650px) {
  .taylorTweet {
    min-height: 220px;
  }
}

.statsBox {
  background-color: #ffcb05;
  /* was #fcc707 */
  height: 390px;
  padding: 40px 10px 10px 10px;
}
@media (max-width: 640px) {
  .statsBox {
    height: 200px;
    padding: 10px;
    text-align: center;
  }
}

.statsBoxNumber {
  color: #5a3358;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 640px) {
  .statsBoxNumber {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 0px;
  }
}

.statsBoxContent {
  color: #5a3358;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
@media (max-width: 1190px) {
  .statsBoxContent {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 1070px) {
  .statsBoxContent {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (max-width: 640px) {
  .statsBoxContent {
    text-align: center;
  }
}

.statsBoxClick {
  color: black;
  font-size: 15px;
}

.recentNews {
  height: 190px;
  padding: 10px;
  position: relative;
}
@media (max-width: 640px) {
  .recentNews {
    height: 150px;
  }
}
.recentNews h2 {
  color: #666666;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  /* @media (max-width: 1025px) {
  	font: {
  		size: 26px;
  	}
  	line: {
  		height: 25px;
  	}
  }
  @media (max-width: 950px) {
  	font: {
  		size: 24px;
  	}
  	line: {
  		height: 23px;
  	}
  }
  @media (max-width: 865px) {
  	font: {
  		size: 22px;
  	}
  	line: {
  		height: 21px;
  	}
  }
  @media (max-width: 768px) {
  	font: {
  		size: 40px;
  	}
  	line: {
  		height: 35px;
  	}
  } */
}
@media (max-width: 1250px) {
  .recentNews h2 {
    font-size: 33px;
    line-height: 28px;
  }
}
@media (max-width: 1190px) {
  .recentNews h2 {
    font-size: 31px;
    line-height: 26px;
  }
}
@media (max-width: 1120px) {
  .recentNews h2 {
    font-size: 29px;
    line-height: 24px;
  }
}
@media (max-width: 1070px) {
  .recentNews h2 {
    font-size: 27px;
    line-height: 22px;
  }
}
.recentNews p {
  color: #ffcb05;
}
.recentNews:hover {
  opacity: 0.2;
}

/****  FOOTER CHANGES ****/
.footer-social {
  margin-bottom: 40px;
  margin-top: 20px !important;
}

.social-button {
  text-align: center;
}
@media (min-width: 941px) and (max-width: 1024px) {
  .social-button {
    text-align: right;
  }
}
.social-button a {
  display: initial !important;
  float: none !important;
  opacity: initial !important;
}

.footer-copy {
  margin-top: 0px !important;
}
@media (min-width: 1025px) {
  .footer-copy {
    margin-top: 20px !important;
  }
}
.footer-copy p {
  color: #666666;
  font-size: 12px !important;
  line-height: 14px !important;
  text-align: center;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .footer-copy p {
    text-align: right;
  }
}

.footer-text p {
  color: #666666;
  font-size: 12px;
  margin-bottom: 0 !important;
  line-height: 14px !important;
}

.footer-links, .footer-text, .footer-social, .footer-copy {
  padding: 5px !important;
}

.footer-links ul {
  margin-bottom: 0px !important;
}
.footer-links ul li, .footer-links ul li a {
  color: #666666;
  font-family: "Helvetica Oblique", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.footer-links h2 {
  border-bottom: none;
  color: white;
  font-family: "Helvetica Oblique", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 auto 10px auto;
  padding: 0 10px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}
.footer-links .heading-one {
  background-color: #5a3358;
}
.footer-links .special-one {
  color: #5a3358;
}
.footer-links .heading-two {
  background-color: #00adef;
}
.footer-links .special-two {
  color: #00adef;
}
.footer-links .heading-three {
  background-color: #f47920;
}
.footer-links .special-three {
  color: #f47920;
}

.special-one, .special-two, .special-three {
  font-weight: 700;
}

.footer-nav {
  background-color: #f2f2f2 !important;
}
