@import url(/application/themes/foundation-starter-site/css/prettyPhoto.css);
@import url(/application/themes/foundation-starter-site/css/chosen.css);
@import url(/application/themes/foundation-starter-site/css/flexslider.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic);
/*** Global properties ***/
@font-face {
  font-family: 'JosefinSlabSemiBold';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/JosefinSlab-SemiBold-webfont.eot");
  src: url("fonts/JosefinSlab-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/JosefinSlab-SemiBold-webfont.woff") format("woff"), url("fonts/JosefinSlab-SemiBold-webfont.ttf") format("truetype"), url("fonts/JosefinSlab-SemiBold-webfont.svg#JosefinSlabSemiBold") format("svg");
}
/* line 23, ../sass/theme.scss */
body {
  background: url("/application/themes/foundation-starter-site/images/template/footer-bg.png") repeat scroll 0 0 transparent;
  font-size: 0.8em;
}

/* line 27, ../sass/theme.scss */
#main {
  background: white;
  /*@include css3((-webkit-, -khtml-, -moz-, -ms-, -o-, ''), box-shadow, 0 0 5px rgba(0, 0, 0, 0.5));*/
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 0 20px 0;
}

/* line 34, ../sass/theme.scss */
h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 51px;
  margin: 0 0 23px 0;
  text-transform: uppercase;
}

/* line 47, ../sass/theme.scss */
h2 {
  color: #b06030;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

/* line 60, ../sass/theme.scss */
p {
  font-size: 13px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

/* line 70, ../sass/theme.scss */
.foundation--homepage p {
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

/* line 80, ../sass/theme.scss */
h3, h4, h5, h6 {
  color: #4b4b5f;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 15px;
}

/* line 90, ../sass/theme.scss */
h3 {
  color: #b06030;
  font-size: 16px;
  letter-spacing: -0.3em;
  margin: 0;
}

/* line 101, ../sass/theme.scss */
.foundation--homepage h3 {
  font-size: 20px;
  text-transform: uppersae;
}

/* line 109, ../sass/theme.scss */
h4 {
  font-size: 14px;
}

/* line 114, ../sass/theme.scss */
h5 {
  font-size: 13px;
}

/* line 119, ../sass/theme.scss */
h6 {
  font-size: 12px;
}

/* line 125, ../sass/theme.scss */
h1 strong {
  font-size: 60px;
  font-weight: normal;
  line-height: 1.2em;
}
/* line 134, ../sass/theme.scss */
h1 em {
  border-bottom: 1px solid #ededed;
  color: #23231c;
  font-size: 48px;
  font-style: normal;
  display: block;
  line-height: 1.2em;
  padding-bottom: 15px;
}

/* line 152, ../sass/theme.scss */
strong, b, big {
  color: #191001;
}

/* line 155, ../sass/theme.scss */
a {
  color: #b06030;
  outline: none;
  text-decoration: none;
}
/* line 161, ../sass/theme.scss */
a:hover, a:focus {
  text-decoration: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
